a#linkedIn {
  color: black;
}

.foto-bloque {
  background:  rgb(145, 21, 21);
  height: 150px;
  margin-left: 1px;
  margin-right: 1px;
}

.leftSide-text {
  font-size: 14px;
}

h3 {
  color: rgb(145, 21, 21);
  margin-left: 10px;
}

.img-redonda {
  width: 70%;
  height: 80%;
  border-radius: 120px;
  border: 5px solid lightgray;
  margin-top: -90px;
  margin-left: auto;
  margin-right: auto;
}

.mat-icon {
  color: rgb(145, 21, 21);
  width: 18px;
}
