<!-- Home Page template-->
<div
  class="wrapper"
  fxLayout="row">

  <!-- Left vertical bar -->
  <div
    class="wrapper left-side-bar"
    fxFlex="0 0 2%">
  </div>

  <!-- Spacer -->
  <div
    class="wrapper"
    fxFlex="0 0 5px">
  </div>

  <!-- Left Side -->
  <div
    class="wrapper left-side"
    fxFlex="0 0 20%">
    <app-left-side></app-left-side>
  </div>

  <!-- Right Side -->
  <div
    class="wrapper right-side"
    fxFlex="1 1 78%">
  </div>
</div>
<router-outlet></router-outlet>
